import(ggplot2)
import(locfit)
import(ROCR)
import(knitr)
import(qvalue)
import(methods)
import(stats)
import(utils)
import(plyr)
import(DESeq2)
export(analysis)
export(pval)
export(qval)
export(ratio)
export(input)
export(label)
export(score)
export(seqs)
export(std)
export(measured)
export(analysis)
export(AnaquinData)
export(plotLinear)
export(plotLogistic)
export(plotROC)
export(plotMA)
export(plotLODR)